body {
  min-width: 830px;
  font-family: Ubuntu;
  color: #173e43;
}
.green{
  color: #3fb0ac;
}
.grey{
  color: #173e43;
}
.white{
  color: white;
}
.trans-white{
  background: rgba(217, 217, 217, 0.65);
  border: solid white;
  border-width: 1px;
}
.smaller{
  font-size: 20px;
}
.small{
  font-size: 25px;
}
.medium{
  font-size: 30px;
}
.large{
  font-size: 35px;
}
.huge{
  font-size: 45px;
}
.no-margin{
  margin-top: 0px;
  margin-bottom: 0px;
}
.bold{
  font-weight: bold;
}
.italics{
  font-style: italic;
}
.full-width{
  width: 100%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.de-link{
  text-decoration: none;
  color: #173e43;
}
.center{
  text-align: center;
}
#home{
 padding-left: 20px;
 text-decoration: none;
 font-style: italic;
}
#nav-bar{
  height: 60px;
  position: absolute;
  top: 50px;
  z-index: 2500;
  min-width: 830px;
}

#menu-bar{
  height: 60px;
}
.reset{
  width: 10px;
  height: 50px;
}
.reset-bottom{
  height: 10px;
  width: 100%;
  display: inline;
}
#second-menu{
  z-index: 2000;
  height: 40px;
  position: relative;
  top: -16px;
  background: rgba(217, 217, 217, 0.65);
}
#second-nav-buttons{
  list-style: none;
}
.second-nav-button{
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 10px;
  font-size: 20px;
}
#icon{
  width: 70px;
  position: absolute;
  left: 30px;
  top: 0px;
  z-index: 3000;
}
#nav-button-container{
  float: right;
  display: block;
  width: 560px;
  height: 44px;
}
.nav-button{
  padding-top: 10px; 
  padding-left: 20px; 
  padding-right: 20px;
}

.nav-text-main{
  text-decoration: none;
}
#main-content{
  height: 100vh;
  background: white;
}
.page-container{
  min-width: 830px;
  position: absolute;
  top: 160px;
  width: 80%;
  margin: 0 10%;
}
.sm-icon{
  width: 60px;
  padding-bottom: 20px;
}
#icon-container{
  width: 80px;
  height: 400px;
  float: left;
}
#email-container{
  width: 40%;
  height: 400px;
  float: right;
  padding: 100px;
}
#contact-photo{
  height: 400px;
  float: right;
}
.project-page-container{
  min-width: 830px;
  position: absolute;
  top: 160px;
  width: 100%;
}
.intro-container{
  width: 80%;
  text-align: center;
  margin: 70px 10%;
}
.same-line{
  display: inline;
  text-decoration: none;
}
#arrow-img{
  height: 20px;
}
.project-image{
  width: 100%;
}
.park-login{
  margin: 10px 10px 5px 20px;
}
.twenty-padding{
  padding: 20px;
}
.project-block{
  width: 80%;
  margin: 100px 10% 100px;
}
.grey-breaker{
  height: 100px;
  width: 100%;
  background: rgba(217, 217, 217, 0.65);
}
.blue-breaker{
  background: #173e43;
  color: white;
  height: 130px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 70px;
  margin-top: 200px;
}
.link-container{
  display: block;
}
.project-git-icon{
  height: 40px;
}