<!-- ProjectsController as projects -->

<div class="project-page-container">
  <div class="intro-container">
    <p class="same-line large">BACKGROUND INFO</p>
  </div> <!-- intro-container -->
  <div class="blue-breaker green italics">WEB DEVELOPMENT</div>
  <div id="web-experience" class="experience-block">
    <div id="experience-text">
      <p class="same-line large">As a builder of websites, the proof is in the </p>
      <a href="#/projects" class="same-line green large">projects</a>
      <p class="same-line large">, which I developed using :</p>
      <p class="small no-margin language-text">JavaScript, Node.js, Java, Angular, Ruby, Ruby-on-Rails, Sinatra, MongoDB, SQLite3, HTML, CSS, integrated APIs, AJAX, Github, and Heroku.</p>
      <p class="same-line small">While I have sharpened my skills by building innovative applications, my </p>
      <a href="#/projects" class="same-line green small">education</a>
      <p class="same-line small"> demonstrates the greater depth of my knowledge.</p>
    </div>
    <a href="#/projects" id="logo-container">
      <img class="project-logo" src="/images/background/peoples-park-logo.png">
      <img class="project-logo" src="/images/background/ARK_logo.png">
      <img class="project-logo" src="/images/background/get-the-record-logo.png">
      <img class="project-logo" src="/images/background/attendance-logo.png">
      <img class="project-logo" src="/images/background/catan-logo.png">
      <img class="project-logo" src="/images/background/portfolio-logo.png">
    </a>
  </div> <!-- web-experience -->
  <div class="blue-breaker green italics">TEACHING</div>
  <div class="blue-breaker green italics">BUSSINESS DEVELOPMENT</div>
  <div class="blue-breaker green italics">MY EDUCATION</div>
</div>
