<!-- ContactController as contact -->

<div class="page-container">
  <img id="contact-photo" src="/images/contact/me.png">
  <div id="email-container">
    <div id="email-message" class="medium">Don't hesitate to reach out if you have questions about my work, are interested in collaborating, or are looking to hire an engineer who can work accross the stack!</div>
    <p></p>
    <div class="large green">julia.pearson@gmail.com</div>
  </div> <!-- email-container -->
  <div id="icon-container">
    <a href="https://github.com/julia-pearson"><img src="/images/contact/github-512.png"class="sm-icon"></a>
    <a href="https://www.linkedin.com/in/julia-pearson-2b32a4b7"><img src="/images/contact/linkedin.png"class="sm-icon"></a>
    <a href="https://profiles.generalassemb.ly/profiles/3737"><img src="/images/contact/SkNd2ppU.png"class="sm-icon"></a>
    <a href="https://www.facebook.com/julia.pearson.16"><img src="/images/contact/facebook.png"class="sm-icon"></a>
    <a href="https://www.facebook.com/julia.pearson.16"><img src="/images/contact/my_resume.png"class="sm-icon"></a>
  </div> <!-- icon-container -->
</div> <!-- contact-container